In [1]:
pip install jenkspy

Collecting jenkspy
  Downloading jenkspy-0.2.0-cp37-cp37m-win_amd64.whl (43 kB)
Installing collected packages: jenkspy
Successfully installed jenkspy-0.2.0
Note: you may need to restart the kernel to use updated packages.

In [80]:
import jenkspy
import pandas as pd

In [81]:
userRatingsTable = pd.read_csv('../datasets/UserRatingData.csv')

In [82]:
# userRatingsTable.head()
userRatingsTable.dropna()
# userRatingsTable["timeSpent"]=userRatingsTable["Time Spent"]
userRatingsTable.head()

,Article,Time Spent,User
0,https://www.google.com/search?q=toronto+raptor...,-14,cac374ab-932a-43db-9b8e-d4eb930adff4
1,https://www.google.com/search?q=larry+o%27bri...,-11,cac374ab-932a-43db-9b8e-d4eb930adff4
2,https://en.wikipedia.org/wiki/Larry_O%27Brien...,-6,cac374ab-932a-43db-9b8e-d4eb930adff4
3,https://en.wikipedia.org/wiki/Larry_O'Brien_C...,-11,cac374ab-932a-43db-9b8e-d4eb930adff4
4,chrome://new...,-34,cac374ab-932a-43db-9b8e-d4eb930adff4

In [68]:
# userRatingsTable.dtypes

# userRatingsTable["Time Spent"].astype(str).astype(float)
# userRatingsTable["Time Spent"].astype(int)

# pd.to_numeric(userRatingsTable.timeSpent, errors='coerce')
# userRatingsTable.head()

In [69]:
# userRatingsTable["TimeSpent_Pos"] = userRatingsTable["timeSpent"]*2
# userRatingsTable.dtypes

In [70]:
# userRatingsTable.head()

In [83]:
userRatingsTable["Time Spent"] = userRatingsTable["Time Spent"].astype(float)

userRatingsTable["TimeSpent_positive"] = userRatingsTable["Time Spent"]*-1
userRatingsTable["TimeSpent_positive"] = userRatingsTable["TimeSpent_positive"].astype(int)

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [84]:
userRatingsTable.head()

,Article,Time Spent,User,TimeSpent_positive
0,https://www.google.com/search?q=toronto+raptor...,-14.0,cac374ab-932a-43db-9b8e-d4eb930adff4,14.0
1,https://www.google.com/search?q=larry+o%27bri...,-11.0,cac374ab-932a-43db-9b8e-d4eb930adff4,11.0
2,https://en.wikipedia.org/wiki/Larry_O%27Brien...,-6.0,cac374ab-932a-43db-9b8e-d4eb930adff4,6.0
3,https://en.wikipedia.org/wiki/Larry_O'Brien_C...,-11.0,cac374ab-932a-43db-9b8e-d4eb930adff4,11.0
4,chrome://new...,-34.0,cac374ab-932a-43db-9b8e-d4eb930adff4,34.0

In [79]:
userRatingsTable["TimeSpent_positive"].isnull().values.any()

True

In [85]:
userRatingsTable["TimeSpent_positive"].isnull().sum()

5

In [87]:
is_Nan = userRatingsTable.isnull()
row_has_nan = is_Nan.any(axis=1)
rows_with_nan = userRatingsTable[row_has_nan]